/datasets/Amazon_Review_Plus
/results/
/baselines/sasrec/features
/photos/
/prompts/sampled_photos/
/prompts/sampled_prompts/
/prompts/tsv_files/
/LVLM4Rec/prompts/tsv_files
/LVLM4Rec/prompts/sampled_prompts
/LVLM4Rec/prompts/sampled_photos
/notebooks/
.DS_Store
*.py[cod]
__pycache__/
/LVLM4Rec/results/output_s1_0529/
